node_modules/

# SvelteKit output
.svelte-kit
build

# Environment variables
.env
.env.*
!.env.example

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Database
trikots.db

# OS metadata
.DS_Store
Thumbs.db
